.recent-page{
    display: flex;
    flex: 1;    
}

.recent-non{
    all: initial;
    display: flex;
    position: fixed;
    height: 100%;
    color: black;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-left: 20%;
    font-size: 25px;
    opacity: 0.5;
}